/**
 *
 * Author:           OverAPI
 * Contact:          OverAPI.com
 *
 */

/* 重置浏览器CSS */
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1; /* for IE6 IE7 */}
body .hide{display:none;}
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}


/***********default settings**********/
html{background:#000 url(/static/images/background.jpg) fixed 100% 100%;}
body {background:#000 url(/static/images/background.jpg) fixed 100% 100%;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
/*body {background:#F8F8F0;background:#000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}*/

.index{margin:30px auto;color:#fff;width:600px;}
.index h1{font-size:38px;margin-bottom:35px;}
.index-title{font-size:38px;border-bottom:1px solid #777;margin-bottom:15px;}
.index-content{margin-bottom:50px;overflow:hidden;zoom:1;}
.index-content li{float:left;margin:5px;font-size:18px;border-radius:10px;padding:20px 20px;}
.index-content li:hover{background:#fff;}
.index-content li a{color:#000;text-decoration:none;}
.index-item{font-size:18px;margin-bottom:15px;}
.index-item a{color:red}


#navbar{position:fixed;background:#000;background:rgba(0,0,0,0.6);height:40px;line-height:40px;color:#999;width:100%;filter:alpha(opacity=60);z-index:100;}
#navbar a{color:#999;text-decoration:none;font-size:14px;}
#navbar a:visited{color:#999;}
#navbar a:hover{color:#fff;}
#navbar a#logo{color:#fff;font-size:18px;font-weight:bold;float:left;margin-right:20px;margin-left:15px;}
#navlist{float:left;}
.nav li{float:left;margin-right:5px;padding:0 5px;}
.nav li a{display:block;}
#navlist li.active a{font-size:15px;font-weight:bold;color:#fff;}
#searchApi{border:1px solid #ccc;border-radius:3px;font-size:12px;padding:3px 5px;width:150px;}


.content{padding-top:45px;margin:0 auto;}
.board{border-radius:8px;margin:5px 8px;padding:15px;width:200px;color:#fff;}
.content-250{margin:0 auto;}
.content-250 .board{width:250px;margin:5px 10px;}
.board-title{font-size:28px;font-weight:bold;padding-right:10px;margin-bottom:5px;text-align:right;border-bottom:1px solid #ccc;padding-bottom:3px;}
.board-card{margin-bottom:15px;word-break:break-all}
.board-card a{font-size:14px;color:#fff;text-decoration:none;display:block;}
.board-card a:hover{background:#ccc;color:#000;}
.board-card-title{font-size:16px;font-weight:bold;color:#f4fcbb}
.board-card h3.inactive{color:#666;}
.board-card li.tip{color:#999;padding-left:15px;font-size:13px;font-style:italic;}
.board-card li.inactive {color:#666;cursor:default;}
.board-card li.inactive a{color:#666;cursor:default;}
.board-card li.inactive a:hover{color:#666;background:none;}
