<!DOCTYPE html>
<html>
    <head>
        <!--
        * Author:         OverAPI
        -->
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title }}{% endif %} | OverAPI.com</title>
        <meta name="author" content="{{ site.author.name }}" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="development,cheatsheets{% if page.categories %},{{page.categories | join: ','}}{% endif %}" />
        <link rel="stylesheet" href="/static/css/default.css" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="/static/js/jquery.1.7.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.quicksearch.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154846433-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-154846433-1');
        </script>
<script data-ad-client="ca-pub-8625616776911349" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        </head>
    <body class="cheat-detail">
        {% include detail_nav.html %}
        {{ content }}

        <div id="ad" class="board hide">
            
        </div>

        <script type="text/javascript">
            $('.content').append($('#ad'));
            $('#ad').removeClass('hide');
        </script>

        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fddf49419e0facd"></script>

</body>
</html>
